*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 100vw;
    max-width: 100vw;
    overflow-x: hidden;
  }
  body {
    max-width: 100vw;
    background-image: url(/assets/img/Vector-group/Vector-bottom.png);
  }

  .title{
    color: #7723C9;
    text-align: center;
    font-family: 'Nunito';
    margin-top: 94px;
    font-size: 50px;
    height: 168px;
    top: 94px;
    left: 228px;
  }

.slider {
    display: flex;
    align-items: center;
    width: 130vw;
    position: absolute;
    left: -21.5vw;
}

.div_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 39.45px;
    height: 281.3877258300781px;
    width: 388.8082275390625px;

}

.img_carrousel {
    position: absolute;
    z-index: -999999;
}

.one {
    position:relative;
    
}

.two {
    position: relative;
}

.three {
    position: relative;
}

.five {
    position: relative;
}

.btnBox {
    width: 100%;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99999999999;
    /* position: fixed; */
    bottom: 15vh;
    position: absolute;
  }

@keyframes left {
    0% {
      left: -21.5vw;
    }
    100% {
      left: 0vw;
    }
  }
  
  @keyframes right {
    0% {
      left: -21.5vw;
    }
    100% {
      left: -43vw;
    }
  }
  
  @keyframes rightToCenter {
    0% {
      left: -43vw;
    }
    100% {
      left: -21.5vw;
    }
  }
  
  @keyframes leftToCenter {
    0% {
      left: 0vw;
    }
    100% {
      left: -21.5vw;
    }
  }
  
  @keyframes leftToRight {
    0% {
      left: 0vw;
    }
    100% {
      left: -43vw;
    }
  }
  
  @keyframes rightToLeft {
    0% {
      left: -43vw;
    }
    100% {
      left: 0vw;
    }
  }
  
